:root {
    --primary: #de9b1f;
    --secondary: #b37d18;
    --white: #ffffff;
}

.pry-text {
    color: var(--primary);
}

.pry-bc {
    background-color: var(--primary);
}

.wh-c {
    color: var(--white);
}

.b-product:hover {
    background-color: var(--secondary);
    color: var(--white);
}

.l-img:hover {
    color: var(--secondary);
}

.b-t-t:hover {
    background-color: var(--secondary);
    color: var(--white);
}

.abt-btn:hover {
    background-color: var(--secondary);
    color: var(--white);
}

.carousel-i {
    width: 100vw;
    height: 700px;
}

.darken {
    filter: brightness(30%);
    width: fit-content;
    height: fit-content;
}

.wdt {
    width: 320px;
}

.service-item img {
    width: 100%;
    height: 220px; /* adjust this height to make it more rectangle */
    object-fit: cover;
    object-position: center;
    border-radius: 6px; /* optional */
}

.team-item div img {
    width: 100%;
    height: 300px; /* adjust this height to make it more rectangle */
    object-fit: cover;
    object-position: center;
    border-radius: 6px; /* optional */
}

.btn-outline-pry {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-outline-pry:hover {
    border: 1px solid var(--primary);
    color: var(--white);
    background-color: var(--primary);
}

.navbar a img {
    height: 150px;
    margin-bottom: 15px;
}