:root {
    --primary: #de9b1f;
    --secondary: #b37d18;
    --white: #ffffff;

    --black-main: #0B0B0B;
    --black-soft: #121212;
    --yellow-main: #FFC107;
    --yellow-soft: #FFD54F;
    --text-white: #F5F5F5;
    --text-muted: #BDBDBD;
}

.pry-text {
    color: var(--primary);
}

.pry-bc {
    background-color: var(--primary);
}

.wh-c {
    color: var(--white);
}

.b-product:hover {
    background-color: var(--secondary);
    color: var(--white);
}

.l-img:hover {
    color: var(--secondary);
}

.b-t-t:hover {
    background-color: var(--secondary);
    color: var(--white);
}

.abt-btn:hover {
    background-color: var(--secondary);
    color: var(--white);
}

.carousel-i {
    width: 100vw;
    height: 700px;
}

.darken {
    filter: brightness(30%);
    width: fit-content;
    height: fit-content;
}

.wdt {
    width: 320px;
}

.service-item img {
    width: 100%;
    height: 220px; /* adjust this height to make it more rectangle */
    object-fit: cover;
    object-position: center;
    border-radius: 6px; /* optional */
}

.team-item div img {
    width: 100%;
    height: 300px; /* adjust this height to make it more rectangle */
    object-fit: cover;
    object-position: center;
    border-radius: 6px; /* optional */
}

.btn-outline-pry {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-outline-pry:hover {
    border: 1px solid var(--primary);
    color: var(--white);
    background-color: var(--primary);
}

.navbar a img {
    height: 150px;
    margin-bottom: 15px;
}

.team-item .d-flex {
    background-color: white;
}

.team-item div h5 {
    color: var(--text-white);
}
.team-item div span {
    color: var(--text-muted);
}

.team-item div img {
    height: 500px;
}

.contact {
    height: 50%;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.c-whole {
    bottom: 30px;
}

.footer-a-img div img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.t-w {
    color: var(--text-white);
}

.t-t {
    color: var(--text-muted);
}

.testimonial-text p {
    color: var(--text-muted);
}

.testimonial-text h5 {
    color: var(--text-white);
}
